{% extends 'sbadmin.html.twig' %}

{% block title %}Gestion des catégorie{% endblock %}

{% block content %}

    <h1 class="mt-4">Catégories</h1>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Category</a></li>
        <li class="breadcrumb-item active">Index</li>
    </ol>

    <a href="{{ path('admin_category_add') }}" class="btn btn-primary">Ajouter</a>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Liste des catégories
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Parent</th>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Parent</th>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.parent }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.slug }}</td>
                            <td><a href="{{ path('admin_category_update', {id: category.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}
